.as-header {
    position: relative;
    z-index: 41;
    .icon-btn {
        --btn-size: 45px;
        border: 1px solid #d0dbe9;
        &:hover {
            border-color: $theme-color;
        }
    }
}

.will-sticky {
    .sticky-active {
        position: fixed;
        top: -100%;
        right: 0;
        left: 0;
        background-color: $title-color;
        transition: all ease 0.8s;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);

        &.active {
            top: 0;
        }
    }
}

.main-menu {
    a {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        color: $white-color;
        text-transform: uppercase;

        &:hover {
            color: $theme-color;
        }
    }

    > ul {
        > li {
            margin: 0 15px;
            > a {
                padding: 36.5px 0;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            position: relative;

            &.menu-item-has-children {
                > a {
                    &:after {
                        content: "\2b";
                        position: relative;
                        font-family: $icon-font;
                        margin-left: 5px;
                        top: 0;
                        color: $theme-color;
                    }
                }
            }

            &:last-child {
                margin-right: 0 !important;
            }

            &:first-child {
                margin-left: 0 !important;
            }

            &:hover {
                > ul.sub-menu,
                ul.mega-menu {
                    visibility: visible;
                    opacity: 1;
                    margin-top: 0;
                    z-index: 9;
                }
            }
        }
    }

    ul.sub-menu,
    ul.mega-menu {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: $title-color;
        visibility: hidden;
        min-width: 190px;
        width: max-content;
        padding: 7px;
        left: -14px;
        margin-top: 50px;
        opacity: 0;
        z-index: -1;
        border: 0;
        // box-shadow: 0px 9px 14px #fbfbfb;
        border-radius: 0;
        transform-origin: top center;
        transition: margin-top 0.4s ease-in-out 0s,
            visibility 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
            z-index 0s;

        a {
            font-size: 16px;
            line-height: 30px;
        }
    }

    ul.sub-menu {
        padding: 18px 20px;
        left: -27px;

        // &:before {
        //   content: "";
        //   position: absolute;
        //   left: 34.5px;
        //   top: 30px;
        //   width: 1px;
        //   background-color: #ededed;
        //   height: calc(100% - 60px);
        // }

        li {
            display: block;
            margin: 0 0;
            padding: 0px 9px;

            &.menu-item-has-children {
                > a:after {
                    content: "\f105";
                    float: right;
                    top: 1px;
                }
            }

            a {
                position: relative;
                padding-left: 23px;
                text-transform: capitalize;

                &:before {
                    content: "\f7d9";
                    position: absolute;
                    top: 8px;
                    left: 0;
                    font-family: $icon-font;
                    width: 11px;
                    height: 11px;
                    text-align: center;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 0.9em;
                    line-height: 1;
                    color: $theme-color;
                    font-weight: 700;
                    // background-color: $white-color;
                    // box-shadow: inset 0px 2px 4px 0px rgba(#ad8858, 0.4);
                }
            }

            ul.sub-menu {
                left: 100%;
                right: auto;
                top: 0;
                margin: 0 0;
                margin-left: 20px;

                li {
                    ul {
                        left: 100%;
                        right: auto;
                    }
                }
            }
        }
    }

    .mega-menu-wrap {
        position: static;
    }

    ul.mega-menu {
        display: flex;
        justify-content: space-between;
        text-align: left;
        width: 100%;
        max-width: var(--main-container);
        padding: 20px 15px 23px 15px;
        left: 50%;
        transform: translateX(-50%);

        li {
            display: block;
            width: 100%;
            padding: 0 15px;

            li {
                padding: 2px 0;
            }

            a {
                display: inline-block;
                text-transform: capitalize;
            }
        }

        > li {
            > a {
                display: block;
                padding: 0;
                padding-bottom: 15px;
                margin-bottom: 10px;
                text-transform: capitalize;
                letter-spacing: 1px;
                font-weight: 700;
                color: $white-color;
                border-color: $theme-color;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 15px;
                    height: 1px;
                    background-color: $theme-color;
                }

                &::after {
                    width: calc(100% - 20px);
                    left: 20px;
                }

                &:hover {
                    padding-left: 0;
                }
            }
        }
    }
}

.dropdown-toggle::after {
    content: "\f107";
    border: none;
    font-family: var(--icon-font);
    vertical-align: middle;
    font-weight: 400;
    margin-left: 6px;
}
.dropdown-menu {
    width: fit-content;
    min-width: auto;
    top: calc(100% + 20px) !important;
    left: calc(50% - 10px) !important;
    transform: translateX(-50%) !important;
    padding: 8px 20px !important;
    text-align: center;
    border-color: $border-color;
    li {
        padding-right: 0;
        margin-right: 0;
        &:after {
            display: none;
        }
        a {
            display: block;
        }
    }
    a {
        color: $body-color;
        &:hover {
            color: $theme-color;
        }
    }
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -7px;
        width: 14px;
        height: 14px;
        margin-left: -7px;
        background-color: var(--white-color);
        z-index: -1;
        transform: rotate(45deg);
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
    }
}

.simple-icon {
    border: none;
    background-color: transparent;
    padding: 0;
    color: $white-color;
    &:hover {
        color: $theme-color;
    }
}

.header-button {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
    .icon-btn {
        position: relative;
    }
}

.header-links {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        position: relative;
        font-size: 16px;
        font-weight: 400;

        &:not(:last-child) {
            padding: 0 20px 0 0;
            margin: 0 17px 0 0;

            &:before {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                background-color: rgba($color: #000F57, $alpha: 0.4);
                width: 1px;
                height: 18px;
                transform: translateY(-50%);
            }
        }
        > i {
            margin-right: 10px;
            color: $theme-color;
        }
    }
    li,
    span,
    p,
    a {
        font-family: $body-font;
        color: $body-color;
    }
    i {
        color: $body-color;
    }
    b,
    strong {
        font-weight: 600;
    }
}
.header-social {
    .social-title {
        font-weight: 400;
        font-size: 16px;
        display: inline-block;
        margin: 0 10px 0 0;
    }

    a {
        font-size: 14px;
        display: inline-block;
        color: $body-color;
        margin: 0 10px 0 0;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $theme-color;
        }
    }
}

.header-logo {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-notice {
    margin-bottom: 0;
    display: inline-block;
}

/* Header 1 ---------------------------------- */
.header-layout1 {
    .header-top {
        background-color: #F8F8F8;
        padding: 17px 0;
        a:hover {
            color: $theme-color;
        }
    }
    .menu-area {
        background-color: $title-color;
    }
    .header-top-inner {
        padding-left: 250px;
    }
}
.logo-style1 {
    position: relative;
    z-index: 2;
    padding: 0 80px 39px 0;
    filter: drop-shadow(0px -10px 20px rgba(7, 36, 95, 0.05));
    &:before {
        content: '';
        height: 140px;
        width: 2000px;
        position: absolute;
        bottom: 0;
        right: -15px;
        background-color: $white-color;
        z-index: -1;
        clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 1300px) {
    .header-layout1 {
        .header-button {
            .as-btn {
                display: none;
            }
        }
    } 
}

@include lg {
    .header-layout1 {
        .header-button {
            .simple-icon {
                display: none;
            }
        }
    } 
    .logo-style1 {
        padding: 0 50px 39px 0;
        &:before {
            right: -25px;
            clip-path: polygon(0 0, calc(100% - 60px) 0, 100% 100%, 0% 100%);
        }
    }
}

@include md {
    .header-layout1 {
        .header-top {
            padding: 11px 0;
        }
        .header-top-inner {
            padding-left: 0;
        }
    }
    .logo-style1 {
        padding: 19px 80px 19px 0;
        &:before {
            height: 100%;
        }
    }
}

@include xs {
    .logo-style1 {
        padding: 19px 40px 19px 0;
        max-width: 180px;
    }
}

/* Header 2 ---------------------------------- */
.header-layout2 {
    --main-container: 1720px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
}
.logo-style2 {
    position: relative;
    height: 100%;
    z-index: 2;
    padding: 27px 85px 32px 0;
    &::before, 
    &::after {
        content: '';
        background-color: $white-color;
        height: 100%;
        width: 3000px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 999px 999px 0;
        z-index: -1;
    }
    &::after {
        right: -20px;
        width: 72px;
        background-color: transparent;
        border-right: 10px solid $white-color;
    }
}


@media (max-width: 1300px) {
    .header-layout2 {
        .header-button {
            .as-btn {
                display: none;
            }
        }
    } 
}

@include lg {
    .header-layout2 {
        .header-button {
            .simple-icon {
                display: none;
            }
        }
    } 
    .logo-style2 {
        padding: 20px 40px 24px 0;
    }
}

@include vxs {
    .logo-style2 {
        img {
            max-width: 140px;
        }
    }
}

/* Header 3 ---------------------------------- */
.header-layout3 {
    --main-container: 1720px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
    .main-menu > ul > li > a {
        padding: 46.5px 0;
    }
    &:before {
        content: '';
        height: 100%;
        width: 22%;
        background-color: $white-color;
        opacity: 0.13;
        position: absolute;
        top: 0;
        right: 0;
        clip-path: polygon(100px 0%, 100% 0, 100% 100%, 0% 100%);
        z-index: -1;
    }
    .header-button {
        margin-left: 110px;
    }
}

@include hd {
    .header-layout3 {
        &::before {
            width: 30%;
        }
    }
}

@include ml {
    .header-layout3:before {
        width: 26%;
    }
}

@media (max-width: 1300px) {
    .header-layout3 {
        &:before {
            width: 16%;
        }
        .header-button {
            .as-btn {
                display: none;
            }
        }
    } 
}

@include lg {
    .header-layout3 {
        .main-menu > ul > li > a {
            padding: 31.5px 0;
        }
    }
}

@include md {
    .header-layout3 {
        &:before {
            width: 50%;
            clip-path: polygon(60px 0%, 100% 0, 100% 100%, 0% 100%);
        }
    }
}